body{
    font-family: 'Poppins', sans-serif;
    margin: 0%;
}
h1{
    font-size: 50px;
    }
    .rakib{
        color: purple;
    }
    section{
        display: flex;
    }
    .likha-div{
        width: 50%;
        padding-left: 5%;
        text-align: justify;
    }
    .likha-div img{
        width: 85%;
    }
    .baton{
        text-decoration: none;
        background-image: linear-gradient(rgb(53, 2, 77), purple);
        color: white;
        padding: 10px 41px;
        font-weight: 800;
        border-radius: 10px;
    }
    .bennar{
        background-image: url(images/top-banner.png);
        background-repeat: no-repeat;
    }
    
